*{
  margin: 0 0;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-family: 'codropsicons';
  src:url('../fonts/codropsicons/codropsicons.eot');
  src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
  font-weight: normal;
  font-style: normal;
}


 @font-face{
  font-family: "fontlogo" ;
  src:url('../fonts/DevilBreezeBold.ttf')
 }

 @font-face{
  font-family: "fontutama" ;
  src:url('../fonts/GothamLight.ttf')
 }

 @font-face{
  font-family: "font2" ;
  src:url('../fonts/OstrichSansHeavy.otf')
 }

 @font-face{
  font-family: "font3" ;
  src:url('../fonts/AprilFoolsDay.ttf')
 }

  @font-face{
  font-family: "font4" ;
  src:url('../fonts/CicleGordita.ttf')
 }

  @font-face{
  font-family: "fonttext" ;
  src:url('../fonts/Poppins-SemiBold.ttf')
 }

 body {
  height: 100vh;
  background-image: url('../images/background1.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(25,25,25,1);
  background-repeat: no-repeat;
}


#navbar{
  width: 100%;
  height: 80px;

}


#iklanatas{
  width: 100%;
  height: 200px;
}

#textselamatdatang{
  margin-left: 10%;
  margin-top: 30px;
  margin-right: 10%;
background-color: rgba(0,0,0,0.5);
color: white;
  font-family: "font3" ;
  font-size: 20px;

}


#iklan-atas{
width: 80%;
margin-right: 10%;
margin-left: 10%;

}


.iklanataspic{
  float: left;
  width: 50%;
  height: 60px;
}

#kosongkiri{
  float: left;
  width: 10%;
  height: 300px;

}


/* MAIN START */
#main{
  margin-right: 10px;
  height: auto;
  float: left;
  width: 60%;
  height: auto;
  margin-bottom: 100px;

}


#main > h1{
    font-family: "fontutama" ;
 color:black;
}

.penulis{
    font-family: "fontutama" ;
 color:black;
  font-size: 14px;
  float: left;
  margin-right: 22px;
  margin-top: 10px;
}

.tanggalditulis{
    font-family: "fontutama" ;
   color:black;
    font-size: 14px;
    float: left;
      margin-top: 10px;
}

.share-btn {
  margin-top: 10px;
  float: right;
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 5em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}
.share-btn:hover {
    color: #eeeeee;
}

.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

.share-btn.twitter { background: #55acee; }
.share-btn.google-plus { background: #dd4b39; }
.share-btn.facebook { background: #3B5998; }
.share-btn.stumbleupon { background: #EB4823; }
.share-btn.reddit { background: #ff5700; }
.share-btn.linkedin { background: #4875B4; }
.share-btn.pinterest { background: #AB0909; }
.share-btn.email { background: #444444; }

.photoartikel{
  width: 100%;
  height: 500px;
  margin-top: 20px;
  border-radius: 10px;
}

.list{
 color:black;
  font-family: "font3" ;
  font-size: 40px;  
  letter-spacing: 2px; 
  margin-bottom: 10px;
}

.deskripsipanjang{
 color:black;
  font-size: 12px;
  line-height: 25px;
  padding: 10px 10px;
  font-family: "fonttext" ;
}


/* MAIN END */

#slidebarkanan{
  float: left;
  width: 20%;
  height: 1000px;
}


.iklan-kanan {
    position: relative;
    width: 100%;
  }

.iklan-kanan img {
    position: absolute;
    width: 100%;
    margin-top: 30px;
    height: 250px;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .iklan-kanan .gambar2:hover {
    opacity: 0;
  }

  .iklan-kanan2 {
    margin-top: 290px;
    position: relative;
    width: 100%;
  }

.iklan-kanan2 img {
    position: absolute;
    width: 100%;
    margin-top: 30px;
    height: 250px;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  .iklan-kanan2 .gambar2:hover {
    opacity: 0;
  }


#kosongkanan{
  float: left;
  width: 10%;
  height: 300px;
}

/* Footer atas */
#footer{
  clear: both;
  width: 100%;
  height: 250px;
  background-color: #1c1818;
}

.logofooter{
  width: 200px;
  height: 60px;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
}

#footer > div > h2 {
  display: inline-block;
  color:rgba(255,255,255,1);
  font-family: "fontutama" ;
  font-size: 20px;
  margin-top: 40px;
  margin-left: 100px;
  margin-bottom: 10px;
}

.isifooter{
    display: inline-block;
    width: 430px;
    height: 200px;

}

#footerandroid{
  display: none;
}

#footer > div > a {
  margin-left: 100px;
  font-size: 15px;
  color: grey;
  text-decoration: none;
}

#footer > div  > a:hover {
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.contact-footer{
  margin-top: 5px;
   font-family: "fontutama" ;
  margin-left: 10%;
  display: block;
}

#footer > div > h3{
 color:rgba(255,255,255,1);
  font-family: "fontutama" ;
  margin-bottom: 15px;
}

#footer > div > p{
  color: grey;
    font-family: "fontutama" 
}

.imgfooter{
  width: 215px;
}

.footerimg{
  float: right;
  margin-right: 100px;
}

/* Footer Bawah */
#footer2{
  width: 100%;
  height: 60px;
  background-color:#090808;
}

#footer2 > p{
    color: grey;
     font-family: "fontutama" ;
  padding-top:  15px;
margin-left: 40%;
margin-right: 40%;
  font-size: 20px;
}

/* NAVBAR CSS */
.container > header,
.codrops-top {
  color: #fff;
  font-family: 'Lato', Arial, sans-serif;
}

.container > header {
  margin: 0 auto;
  padding: 12em 2em;
  padding-left: 370px;
  background: rgba(0,0,0,0.05);
}

.container > header a {
  color: #566473;
  text-decoration: none;
  outline: none;
}

.container > header a:hover {
  color: #4f7bab;
}

.container > header h1 {
  font-size: 3.2em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}

.container > header span {
  display: block;
  font-size: 55%;
  color: #74818e;
  padding: 0 0 0.6em 0.1em;
}

/* To Navigation Style */
.codrops-top {
  background: #fff;
  background: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
    text-decoration: none;
  width: 100%;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  text-decoration: none;
  padding: 0 1em;
  letter-spacing: 0.1em;
  color: #888;
  display: inline-block;
}

.codrops-top a:hover {
  text-decoration: none;
  background: rgba(255,255,255,0.95);
  color: #333;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

.codrops-icon:before {
  font-family: 'codropsicons';
  margin: 0 4px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
  padding-top: 1em;
  font-size: 0.9em;
}

.codrops-demos a {
  text-decoration: none;
  outline: none;
  display: inline-block;
  margin: 0.5em;
  padding: 0.7em 1.1em;
  border: 3px solid #b1aea6;
  color: #b1aea6;
  font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
  border-color: #89867e;
  color: #89867e;
  text-decoration: none;
}


/* MEDIA SCREEN */
@media screen and (max-width: 1025px) {
  .container > header {
    margin: 0 auto;
    padding: 120px 50px;
    font-size: 70%;
    text-align: right;
  }
}

@media screen and (max-width: 740px) {

  .codrops-icon span {
    display: none;
  }

  #slidebarkanan{
    display: none;
  }

  #iklanatas{
  width: 100%;
  height: 200px;
}

.iklanataspic{
  float: left;
  margin-right: 10%;
  width: 100%;
  height: 60px;
}

  #main{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;

     margin-top: 100px;
  }

  #sharetombollist{
    margin-top: 30px;
  clear: both;
  }
  .share-btn {
    float: left;
      display: inline-block;
      color: #ffffff;
      border: none;
      padding: 0.5em;
      width: 3em;
      opacity: 0.9;
      box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
      outline: none;
      text-align: center;
  }

  .photoartikel{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
  }


  #kosongkiri{
  float: left;
  width: 10%;
  height: auto;
}

  #kosongkanan{
  float: left;
  width: 10%;
  height: auto;
}

#footer{
  display: none;
}

#footer2{
  display: none;
}

#footerandroid{
  display:inline-block;
  width: 100%;
  height: 50px;
  background-color:#090808;
}
#footerandroid > p{
  color: white;
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
    font-family: "fontutama" ;
}
}


